doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    block scripts
      script(src='/socket.io/socket.io.js')
      script(src='https://code.jquery.com/jquery-1.11.1.js')
      script(src='/javascripts/game.js')
  body
    section(id='boardAndInventoriesSection')
      table(id='board')
        tr(id='row0')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr(id='row1')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row2')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row3')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row4')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row5')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row6')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row7')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row8')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
        tr('id=row9')
          td(class='tile0')
          td(class='tile1')
          td(class='tile2')
          td(class='tile3')
          td(class='tile4')
          td(class='tile5')
          td(class='tile6')
          td(class='tile7')
          td(class='tile8')
          td(class='tile9')
      table(id='enemyInventory')
        tr
          td
          td
          td
          td
          td
      table(id='playerInventory')
        tr
          td
          td
          td
          td
          td
    section(id='displayerAndShopAndLogSection')
      div(id='displayer')
        div(id='pieceDisplayer')
          p(id='displayerPieceName')
          p(id='displayerPieceMovement')
          p(id='displayerPieceAttack')
          p(id='displayerPieceHealth')
          p(id='displayerPieceType')
        div(id='tileDisplayer')
          p(id='displayerTilePlatform')
          p(id='displayerTileStatuses')
      form(id='buyButton' action='')
        button Buy
      div(id='stores')
        table(id='buildings')
          tr
        table(id='units')
          tr
        table(id='spells')
          tr
      ul(id='log')

  