doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    block scripts
      script(src='/socket.io/socket.io.js')
      script(src='https://code.jquery.com/jquery-1.11.1.js')
      script(src='/javascripts/game.js')
  body
    section(id='boardAndInventoriesAndNavBar')
      section(id='buttons')
        form(id='endActionPhaseButton' action='')
          button Go to Energize Phase         
        form(id='buyButton' action='')
          button Buy
        form(id='moveButton' action='')
          button Move
        form(id='buildButton' action='')
          button Build
        form(id='energizeButton' action='')
          button Energize
        form(id='energizeFlatPieceButton' action='')
          button Energize Flat Piece
        form(id='endTurnButton' action='')
          button End Turn
        form(id='attackButton' action='')
          button Attack
        form(id='attackPieceButton' action='')
          button Attack Piece
        form(id='attackFlatPieceButton' action='')
          button Attack Flat Piece
        form(id='castOnPieceButton' action='')
          button Cast on Piece
        form(id='castOnFlatPieceButton' action='')
          button Cast on flat piece              
        form(id='castButton' action='')
          button Cast
        form(id='castUnitSpellButton' action='')
          button Cast Unit Spell
        form(id='castUnitSpellOnPieceButton' action='')
          button Cast Unit Spell On Piece
        form(id='castUnitSpellOnFlatPieceButton' action='')
          button Cast Unit Spell On Flat Piece
      p(id="victoryPointTokenSupply")       
      table(id='board')
        each col in Array(boardLength)
          tr
            each row in Array(boardWidth)
              td(class='tile')
                div(class='piece')
                div(class='flatPiece')
                div(class='resource')

      each val in ['redInventory', 'blueInventory']
        table(id=val class='inventory')
          tr
            td
            td
            td
            td
            td
      each val in ['redPlayerResources', 'bluePlayerResources']
        section(id=val class='resources')
          p(class='gold')
          p(class='energy')
          p(class='vp')
    section(id='displayerAndShopAndButtonsAndLogSection')
      div(id='displayer')
        ul(id='pieceProperties')
        ul(id='flatPieceProperties')      
        ul(id='tileProperties')
      div(id='stores')
        table(id='baseSet')
          tr
        table(id='nonBaseSetBuildings')
          tr
        table(id='nonBaseSetUnits')
          tr
        table(id='nonBaseSetSpells')
          tr
      ul(id='log')