doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    block scripts
      script(src='/socket.io/socket.io.js')
      script(src='https://code.jquery.com/jquery-1.11.1.js')
      script(src='/javascripts/game.js')
  body
    section(id='boardAndInventoriesAndNavBar')
      section(id='boardAndInventories')
        section(id='buttons')
          form(id='endActionPhaseButton' action='')
            button End Action Phase         
          form(id='buyButton' action='')
            button Buy
          form(id='moveButton' action='')
            button Move
          form(id='buildButton' action='')
            button Build
          form(id='energizeButton' action='')
            button Energize
          form(id='endTurnButton' action='')
            button End Turn
          form(id='attackButton' action='')
            button Attack
          form(id='attackPieceButton' action='')
            button Attack Piece
          form(id='attackFlatPieceButton' action='')
            button Attack Flat Piece
          form(id='castOnPieceButton' action='')
            button Cast on Piece
          form(id='castOnFlatPieceButton' action='')
            button Cast on flat piece              
          form(id='activateButton' action='')
            button Activate
          form(id='castButton' action='')
            button Cast
          form(id='castUnitSpellButton' action='')
            button Cast Unit Spell              
        table(id='board')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')              
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')                
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')                                          
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')   
          tr
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')
            td(class='tile')
              p(class='piece')
              p(class='flatPiece')   
        table(id='redInventory' class='inventory')
          tr
            td
            td
            td
            td
            td
        table(id='blueInventory' class='inventory')
          tr
            td
            td
            td
            td
            td
        section(id='redPlayerResources' class='resources')
          p(class='gold')
          p(class='energy')
          p(class='vp')
        section(id='bluePlayerResources' class='resources')
          p(class='gold')
          p(class='energy')
          p(class='vp')
    section(id='displayerAndShopAndButtonsAndLogSection')
      div(id='displayer')
        ul(id='pieceProperties')
          li
        ul(id='flatPieceProperties')            
        ul(id='tileProperties')
      div(id='stores')
        table(id='buildings')
          tr
        table(id='units')
          tr
        table(id='spells')
          tr
      ul(id='log')