* {margin: 0; padding: 0; box-sizing: border-box; background-color: #ffffff;}
body {font: 13px Helvetica, Arial; height: 100%;}
html {height: 100%;}
td:hover {background-color: #FFFFE0;}

#boardAndInventoriesAndNavBar {position: absolute; border: 2px dotted #cccc00; right: 40%; height: 100%; width: 60%; padding: 5px}
#boardAndInventories {position: absolute; border: 2px dotted #000000; top: 5%; bottom: 5%; left: 5%; right: 5%;  height: 90%; width: 90%;}
#board {position: absolute; top: 15%; left: 25%; height: 50%; width: 50%;}
#board td {position: relative; border: 2px solid #606060; padding: 16px;}

.flatPiece {position: absolute; right: 4px; bottom: 15px;} 
.piece {position: absolute; left: 4px; bottom: 15px;}  

#blueInventory {position: absolute; border: 1px solid #0000b3; left: 55%; top: 85%; width: 10%; height: 5%;}
#blueInventory td {position: relative; border: 1px solid #0000b3; padding: 16px;}

#redInventory {position: absolute; border: 1px solid #cc0000; left: 55%; top: 5%; width: 10%; height: 5%;}
#redInventory td {position: relative; border: 1px solid #cc0000; padding: 16px;}

#bluePlayerResources {position: absolute; border: 1px solid #0000b3; top: 85%; left: 40%;}
#redPlayerResources {position: absolute; border: 1px solid #cc0000; top: 5%; left: 40%;}

.gold {padding: 2px;}
.energy {padding: 2px}
.vp {padding: 2px}

#buttons {position: absolute; border: 2px solid #000000; left: 80%; top: 45%;}
#buttons form {position: relative; padding: 5px}	

#displayerAndShopAndButtonsAndLogSection {position: absolute; border: 2px dotted #000000; height: 100%; width: 40%; left: 60%;}

#displayer {border: 2px solid #000000; position: absolute; height: 50%; width: 100%;}

#pieceProperties {list-style-type: none; border: 2px solid #000000; height: 50%; width: 100%; top: 0%; position: absolute; overflow: scroll;}
#pieceProperties li { padding: 5px 10px; width: 100%;}
#flatPieceProperties {list-style-type: none; border: 2px solid #000000; height: 30%; width: 100%; top: 50%; position: absolute; overflow: scroll;}
#flatPieceProperties li { padding: 5px 10px; width: 100%;}
#tileProperties {list-style-type: none; border: 2px solid #000000; height: 20%; width: 100%; top: 80%; position: absolute; overflow: scroll;}
#tileProperties li { padding: 5px 10px; width: 100%;}

#stores {padding: 16px; border: 2px solid #000000; position: absolute; top: 50%; width: 100%; height: 25%;}
#buildings td {border: 1px solid #6b6b47; padding: 16px; height: 40px; width: 40px;}
#units td {border: 1px solid #000080; padding: 16px; height: 40px; width: 40px;}
#spells td {border: 1px solid #8f246b; padding: 16px; height: 40px; width: 40px;}

#log {list-style-type: none; border: 2px solid #000000; height: 25%; width: 100%; position: absolute; top: 75%; overflow: scroll;}
#log li { padding: 5px 10px; width: 100%;}
