doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    block scripts
      script(src='/socket.io/socket.io.js')
      script(src='https://code.jquery.com/jquery-1.11.1.js')
      script(src='/game.js')
  body
    section(id='boardAndInventoriesAndNavBar')
      section(id='buttons')
        button(id='requestUndoButton') Undo
        button(id='moveButton') (M)ove
        button(id='buildButton') (B)uild
        button(id='energizeButton') (E)nergize Piece
        button(id='energizeFlatPieceButton') E(n)ergize Flat Piece
        button(id='endTurnButton') End (T)urn
        button(id='attackButton') (A)ttack
        button(id='attackPieceButton') Attack Piece
        button(id='attackFlatPieceButton') Attack Flat Piece
        button(id='castUnitSpellButton') (C)ast Unit Spell
        button(id='castUnitSpellOnPieceButton') Cast on Piece
        button(id='castUnitSpellOnFlatPieceButton') Cast on Flat Piece
      div(id='stores')
        table(id='baseSet')
          tr
        table(id='nonBaseSetBuildings')
          tr
        table(id='nonBaseSetUnits')
          tr
        table(id='nonBaseSetSpells')
          tr
      p(id="victoryPointTokenSupply") 
      table(id='board')
        each col in Array(boardLength)
          tr
            each row in Array(boardWidth)
              td(class='tile')
                div(class='piece')
                div(class='flatPiece')
                div(class='resource')
      each val in ['redPlayerResources', 'bluePlayerResources']
        section(id=val class='resources')
          p(class='gold')
          p(class='energy')
          p(class='vp')
    section(id='displayerAndShopAndButtonsAndLogSection')
      div(id='displayer')
          button(class='tabButton' id='displayPieceTabButton') Piece
          button(class='tabButton' id='displayFlatPieceTabButton') Flat Piece
          button(class='tabButton' id='displayTileTabButton') Tile
          ul(id='pieceProperties' class='tabContent')
          ul(id='flatPieceProperties' class='tabContent')      
          ul(id='tileProperties' class='tabContent')
      ul(id='log')